
<div class="bigCard">
    <div class="section">
        <h2>A<br>B<br>O<br>U<br>T<br><br> M<br>E</h2>
    </div>
    <div class="profilePic">
        <img src= 'IMG_20240927_191328.jpg'  alt="MyProfilePic">
    </div>
    <div class="content">
        <p>I'm a <b>backend developer</b> at <b>Jio</b> since December 2023 </p>
        <p>I’ve worked on travel and payment integration projects, <br>using modern technologies to build scalable and efficient systems.</p>
        <div class="technologies">
            <h3>Technologies I Worked in Jio:</h3>
            <ul>
              <li>Node.js</li>
              <li>MySQL</li>
              <li>MongoDB</li>
              <li>Elasticsearch</li>
              <li>Kubernetes (K8s)</li>
              <li>Monitoring & Observability</li>
            </ul>
          </div>

    </div>
</div>
