
<div class="bigCard">
    <div class="section">
        <h2>P<br>R<br>O<br>J<br>E<br>C<br> T<br>S</h2>
    </div>

    <div class="content">
 <div class="technologies">
            <h3>Projects which i have created are</h3>
            <ul>
              <li>Lalla's Kitchen</li>
              <p>A Website for cloud kitchen project, <br>through which user can order foods and admin will have control over its menu</p>
              <p>Worked last on 30 May 2023</p>
              <p>Tech stack I used are TypeScript on Angular and firebase</p>
              <a href="https://lallaskitchen.web.app/">Project Link</a>
              <li>TPPS</li>
              <p>An Android App for Printing Press, <br>through which admin can take order and can track its order stages.</p>
              <p>Worked last on 30 Nov 2023</p>
              <p>Tech stack I used are Java on Android Studio and firebase</p>
            </ul>
          </div>
    </div>
    <div class="profilePic">
        <img src= 'IMG_20240927_191328.jpg'  alt="MyProfilePic">
    </div>
</div>
