<div class="bigCard">
    <!-- Section for Skills -->
    <div class="section">
        <h2>
            S<br>
            K<br>
            I<br>
            L<br>
            L<br>
            S
        </h2>
    </div>

    <!-- Profile Picture -->
    <!-- <div class="profilePic">
        <img src="assets/images/IMG_20240927_191328.jpg" alt="MyProfilePic">
    </div> -->

    <!-- Content Section -->
    <div class="content">
        <p>I'm always learning and evolving to stay at the forefront of technology. <br>!</p>

        <!-- Technologies Section -->
        <div class="technologies">
            <h3>Technologies I work with at Jio:</h3>
            <ul>
                <li><b>Programming Languages:</b> Java | JavaScript | Python</li>
                <li><b>Databases:</b> MySQL | MongoDB | Firebase</li>
                <li><b>Frameworks:</b> Node.js | Express.js | Angular</li>
                <li><b>Search Engines:</b> Elasticsearch</li>
                <li><b>Containerization & Orchestration:</b> Kubernetes (K8s)</li>
                <li><b>Monitoring & Observability:</b> Prometheus, Grafana</li>
            </ul>
        </div>
    </div>

    <div class="profilePic">
        <img src="skills.png" alt="MyProfilePic">
    </div>
</div>
